@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
  }

  @page {
    size: A4;
    page-break-before: always;
    padding: 10mm 10mm 8mm 10mm !important;
    counter-increment: page;
  }

  table {
    page-break-inside: auto;
    width: 100%;
  }

  thead {
    display: table-header-group !important;
  }

  tbody {
    display: table-row-group;
  }

  tr {
    page-break-inside: avoid;
  }

  tfoot {
    display: table-footer-group;
  }

  .table-footer {
    text-align: center;
    position: fixed;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6px;
    font-weight: bold;
  }

  /* Optional: Hide interactivity */
  .cursor-pointer {
    cursor: default !important;
  }

  .sticky {
    position: static !important;
  }

  .shadow,
  .shadow-md,
  .shadow-sm {
    box-shadow: none !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swal2-popup {
  z-index: 9999 !important;
}
